body {
    font-family: 'PT Serif', serif;
    
}

.bg-yellow {
    background-color: #FFC017;
}

.border-bottom-dark {
    border-bottom: 1px solid #414141;
}

.tx{
    color: #000000ec;
}

.br{
    border-radius: 5px;
}

.fs{
    font-size: 20px;
}

.fc{
   color: #959595; 
}

.mr:hover{
    color: blue;
    cursor:pointer;
}

